name: Unit Tests

on:
  push:
    branches: [ "main" ]
    paths:
      - 'src/**'
      - 'go.mod'
      - 'go.sum'
  workflow_dispatch:
jobs:
  unit-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Run unit tests
        run: go test ./src/services/... -v
